* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
  background-color: #fff8e1;
  font-family: "Google Sans", "Open Sans", sans-serif;
  min-height: 100vh;
  margin: 0px;
}

.container {
  margin-top: 10px;
}

.container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}

.viewBtn-grid,
.viewBtn-list {
  margin-right: 8px;
  cursor: pointer;
  font-size: 2rem;
}

.viewBtn-list {
  opacity: 0.5;
}

.page-header-container {
  justify-content: center;
  background-color: #ffd54f;
}

h2.page-header {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}

h5.page-sub-header {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

.grid-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
}

.data-card {
  background-color: #ffe082;
  text-align: left;
  font-weight: 500;
  border-radius: 4px;
}

.endure {
  grid-column-start: 1;
  grid-column-end: 4;
}
span.endure {
  font-size: 2.5rem;
}

@media only screen and (max-width: 600px) {
  .grid-view {
    grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
  }
}

@media only screen and (max-width: 600px) {
  .grid-item {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media only screen and (max-width: 600px) {
  .endure {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
