
* {
  box-sizing: border-box;
}

body {
  background-color: #214a7b;
  /* background-image: linear-gradient(to top, rgb(74, 144, 226), rgb(29, 67, 113)); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  min-height: 100vh;
  margin: 0;
}

.container {
  margin-top: 60px;
}

.row {
  margin-bottom: 0px !important;
}

section#main-section .container.page-container {
  width: 95% !important;
}

.viewBtn-grid,
.viewBtn-list {
  margin-right: 8px;
  cursor: pointer;
}


.page-header-container {
  font-family: Raleway;
  justify-content: center;
  background-color: rgba(255, 164, 27, 0.579);
}
.card .page-header-container {
  border: 3px solid #ffa41b;
}

h2.page-header {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}
h5.page-sub-header {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

.hideList {
  display: none;
}


.data-card {
  /* background-color: rgba(21, 131, 141, 0.5); */
  background-color: rgba(0, 167, 204, 0.356);
  text-align: center; 
  font-weight: 500;
  border: 2px solid #ffa41b;
  border-radius: 4px;

}

span.endure {
  font-size: 2.2rem;
}


